.tasks {
  &__title {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #64C4ED;
    padding-bottom: 20px;
    border-bottom: 1px solid #F2F2F2;

    &:hover {
      img {
        opacity: 0.2;
      }
    }

    img {
      opacity: 0;
      cursor: pointer;
      padding-left: 15px;

      &:hover{
        opacity: 0.8;
      }
    }
  }

  &__form {
    margin-top: 20px;

    &-block {

      .button {
        margin-right: 10px;
        margin-top: 15px;
      }
    }

    &-new {
      display: flex;
      align-items: center;
      cursor: pointer;
      opacity: 0.4;
      transition: opacity 0.15s ease-in-out;

      &:hover {
        opacity: 0.8;
      }

      img {
        width: 16px;
        height: 16px;
        margin-left: 4px;
      }

      span {
        font-size: 16px;
        margin-left: 19px;
      }
    }
  }

  &__items {
    margin-top: 30px;

    h2 {
      font-family: 'Montserrat';
      font-weight: 700;
      font-size: 22px;
      color: #C9D1D3;
      position: absolute;
      top: 50%;
      left: 50%;
    }

    &-row {
      display: flex;
      align-items: center;
      margin-bottom: 15px;

      input {
        margin-left: 15px;
        border: none;
        font-size: 16px;
        width: 100%;
      }
    }
  }

  .checkbox {
    input {
      display: none;
    }

    &:hover {
      label {
        background-color: #f2f2f2;
        border-color: #f2f2f2;
        svg {
          opacity: 1;
          path {
            stroke : #b2b2b2
          }
        }
      }
    }

    label {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      border: 2px solid #e8e8e8;
      border-radius: 30px;
      width: 20px;
      height: 20px;
      cursor: pointer;
      transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;

      svg {
        transition: opacity 0.15s ease-in-out;
        opacity: 0;

        path {
          stroke: #f2f2f2
        }
      }
    }

    input:checked + label {
      background: #4DD599;
      border-color: #4DD599;

      svg {
        opacity: 1;
        path {
          stroke: #fff;
        }
      }
    }
  }
}